.container{
    /* padding: 76px; */
    margin: 176px;
    /* margin-left: 216px; */
height: 400px;
width: 400px;
    background-color: rgb(165, 10, 118);
    border-radius: 15px;
 

}
#stopwatch{
    /* padding-left: 78px; */
    margin-left: 130px;
    /* margin-top: 20px; */
    padding-top: 178px;
    color: white;
    font-size: 32px;
}
#button{
    
    padding-left:80px;
    padding-top: 38px;
}
.btn1{
    background-color: rgb(226, 100, 226);
    border: none;
    color:white;
    height: 44px;
    width: 74px;
    margin: 5px;
}


